h1{
    color: blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
h2{
    text-decoration: aqua;
    color: black;
    border: 2px;
    text-align: justify;
    background-color: aquamarine;
}
p{
    color: black;
}
button{
    color: blue;
}