/*h1{
    color: blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
h2{
    text-decoration: aqua;
    color: black;
    border: 2px;
    text-align: justify;
    background-color: aquamarine;
}
p{
    color: black;
}
button{
    color: blue;
}*/
div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}